body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

header {
    background-color: #162e63;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

form {
    background-color: #333333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    font-size: 12px;
}

.form-group input[type="text"],
.form-group input[type="number"] {
    width: 100%;
    padding-block: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #12162b;
    color: #fff;
}

.radio-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

.radio-group input[type="radio"] {

    margin-right: 4px;
}

.description {
    text-align: right;
}

footer {
    background-color: #111;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
}